LP_PROJECTS=cinder,os-brick,cinderlib,cinder-tempest-plugin
LP_PROJECT=cinder
LP_ENV=production  # or 'staging'
LP_LINK=https://bugs.launchpad.net/%s/+bug/%d
LP_REASON=testing
LP_VERSION=devel
CACHE_DIR=~/launchpad-bug-reporter/.launchpadlib/cache/
DAYS_TO_SUBTRACT=15
